#id{
  max-width: 100%;
  width: 70rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;

  color: var(--color-text-primary);
  text-wrap: wrap;
  overflow-wrap: break-word;

  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}